*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #F5F5F5;
}

body {
    background-color: #121212;
    overflow-x: hidden;
}

body::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../img/noise.gif);
    opacity: .02;
    z-index: 100000;
    pointer-events: none;
}

::selection {
    background-color: #ACA3FF;
}

/* NOISE */
#logo,
a,
.title-filled {
    color: rgba(245, 245, 245, 0.9);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../img/noise.gif);
}

/* HEADER*/
header>* {
    position: fixed;
}

header {
    width: 100vw;
}

#logo {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.3;
    left: 3%;
    top: 3%;
}

a {
    text-decoration: none;
}

nav {
    right: 3%;
    top: 3%;
}

li {
    list-style: none;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

li a {
    position: relative;
}

li a:before {
    opacity: 0;
    position: absolute;
    font-family: aktiv-grotesk-extended, sans-serif;
    content: ">";
    left: -20px;
    top: 1px;
    color: #F5F5F5;
    height: 2px;
    transition: ease-in-out 0.1s;
}

li a:hover:before {
    opacity: 1;
    transition: ease-in-out 0.1s;
}

#language {
    left: 3%;
    bottom: 3%;
    font-weight: 700;
    display: block;
    text-align: center;
}

.fr {
    margin-bottom: 1rem;
}


.fr a:after {
    position: absolute;
    top: 25px;
    left: 3%;
    content: "";
    background: #F5F5F5;
    width: 1.3rem;
    height: 3px;
    pointer-events: none;
}


.en a:after {
    position: absolute;
    top: 66px;
    left: 3%;
    margin: auto;
    content: "";
    background: #F5F5F5;
    width: 0rem;
    height: 3px;
    pointer-events: none;
    transition: ease-in-out 0.2s;
}

.en a:hover:after {
    width: 1.3rem;
    transition: ease-in-out 0.2s;
}

.header-right {
    bottom: 3%;
    right: 3%;
}

#social {
    display: flex;
}

#instagram {
    margin-right: 10px;
    margin-left: 10px;
}

#social img {
    width: 1.5rem;
    transition: ease-in-out 0.1s;
}

#social img:hover {
    filter: brightness(60%);
    transition: ease-in-out 0.1s;
}

.copyright {
    transform: rotate(-90deg);
    font-size: 0.8rem;
    opacity: 70%;
    position: absolute;
    bottom: 100px;
    left: 45%;
}

/* HOME */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content-home {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 50px;
}

.title-outline,
.title-filled {
    font-size: 7vw;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 800;
    grid-column: 1;
    grid-row: 1/2;
    align-self: flex-end;
}

.title-outline {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px #F5F5F5;
    z-index: 3;
}

#planet {
    max-width: 400px;
    width: 25vw;
    z-index: 2;
    transform: translateX(-50px);
}

#planet img {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(94, 104, 193, 0.5);
    border-radius: 50%;
    animation: float 3s infinite ease-in-out, slideInLeft 3s;
}

#job {
    font-size: 2vw;
    transform: translateX(0.5%);
    font-family: Poppins,
        sans-serif;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #F5F5F5;
    grid-row: 2/3;
    z-index: 3;
}

.scroll-indicator {
    width: 12px;
    margin: 0 auto;
    position: absolute;
    bottom: 3%;
    transform: translateX(1%);
    opacity: 0.5;
}

.scroll-indicator::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scroll-indicator::before {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid #fff;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator>div {
    display: block;
}

.scroll-indicator>div::before,
.scroll-indicator>div::after {
    content: "";
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #fff;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator>div::before {
    width: 8px;
    height: 8px;
    animation-delay: 0.25s;
}

.scroll-indicator>div::after {
    width: 6px;
    height: 6px;
    animation-delay: 0.5s;
}



/* KEYFRAMES */
@keyframes dot {
    0% {
        transform: scale(0.75);
        opacity: 0.25;
    }

    25% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.75);
        opacity: 0.25;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-500%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

/* RESPONSIVE */
@media screen and (max-width: 425px) {

    /* HEADER*/
    #logo {
        font-size: 1rem;
    }

    nav {
        font-size: 0.8rem;
    }

    li a:before {
        display: none;
    }

    #language {
        font-size: 0.8rem;
    }

    .fr a::after {
        top: 20px;
        width: 1rem;
    }

    .en a:after {
        display: none;
    }

    #social {
        flex-direction: column;
    }

    #instagram {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #social img {
        width: 1.2rem;
    }

    .copyright {
        transform: rotate(-90deg);
        font-size: 0.5rem;
        opacity: 70%;
        position: absolute;
        bottom: 130px;
        left: -120%;
    }
}

@media screen and (max-width: 767px) {
    .content-home {
        transform: translateY(50px);
    }

    .title {
        margin-left: 0px;
    }

    .title-outline,
    .title-filled {
        font-size: 10vw;
    }

    #planet {
        width: 50vw;
        position: absolute;
        transform: translate(0px, -55vw);
    }

    #planet img {
        animation: float 3s infinite ease-in-out;
    }

    #job {
        font-size: 4vw;
        text-align: center;
        transform: translateX(0);
    }
}